[2016-07-25 22:56] mvexel opened #1 "Add License file"

[2016-08-02 06:03] systemed opened #2 "Support Open Spherical Camera API"
The Google-developed Open Spherical Camera API allows you to take photos using a 360° camera such as the LG 360 Cam or the Ricoh Theta series.

It's supported by the Google Street View app and Mapillary support is coming (https://github.com/mapillary/mapillary_issues/issues/1970) so it'd be great to have support in OSV.

Docs: https://developers.google.com/streetview/open-spherical-camera/

[2016-08-05 14:31] alexandrui-telenav commented on #2
hi @systemed. 360 imagery is something we definitely want to do and the Open Spherical API is a good way to start. First there's some work to be done on the backend and website to display them nicely but it's definitely on the roadmap.
Thanks for the good suggestion!

[2016-08-08 01:10] mvexel opened #3 "stuck local images"
See https://twitter.com/kevin_bullock/status/762082566526504960

What can we do about this?

[2016-08-08 08:56] bogdans-telenav commented on #3
Have to say this is the first time that i hear about this case.

Before doing anything, in order to find out more about this problem, can we ask for iOS version and device model? And a simple task just make another small trip to see if the problem persists.

If the problem persists then i will need some files from the device to see what is the problem. In order to do this:
        1. Open iTunes w

[2016-08-10 12:02] bogdans-telenav opened #4 "Testing License"
Some text.

[2016-08-10 21:57] #4 closed, assigned to nobody

[2016-08-10 22:17] martijnv-telenav commented on #3
Asked OP to comment here.

[2016-08-10 22:56] kevinbullock commented on #3
Hi, thanks for creating this ticket @martijnv-telenav.

Device is iPhone6 model MG5W2LL/A
iOS version 9.3.3 (however I just installed 9.3.4)

To remedy this issue, I uninstalled OSV and reinstalled. This appears to have solved the problem. I have done 2 small drives since then and have watched the filesize grow (post drive) and shrink (post upload). I will try a longer drive and test to make sure

[2016-08-11 07:43] bogdans-telenav commented on #3
@kevinbullock thanks for your response.

I am using the same model, and did not managed to reproduce. If this problem persists please send me the data.

For future usage god to know before uninstalling:
If you did not manage to upload your data and/or your app for some reason can not upload your data, save it on your computer using my previous answer and use the upload scripts or upload tool to up

[2016-08-11 07:49] #3 closed, assigned to bogdans-telenav

[2016-08-11 15:02] #1 closed, assigned to alexandrui-telenav

[2016-08-22 07:16] casperbakker opened #5 "App goes to sleep and stops recording"
I had the app open and recording, with iOS 10 beta 7 on an iPhone 6 and connected to power, when the phone goes into sleep mode. The recording also stopped when the phone got into sleep mode.

A lot of apps, like Google Maps, keeps the phone from going into sleep mode when in navigating mode. Would be a welcome addition to this app to keep it from sleeping while recording.

[2016-08-22 09:52] teemsaj opened #6 "Buttons off center"
The screenshot better shows what I mean. https://imgur.com/a/omWbY

[2016-08-22 10:09] teemsaj commented on #6
Last screenshot was an iPhone 6, this was on a 5C

https://imgur.com/a/qGNO5

[2016-08-22 10:20] teemsaj opened #7 "Crashing on iPhone 5C without cell network"
I was going to dedicate an old iPhone 5C to this project. However, the camera crashes the app if "Detect road signs" is on.

I've tested by turning it off an on. Every time it's on, the app crashes. Doesn't do it on my iPhone 6.

[2016-08-22 14:43] bogdans-telenav commented on #5
@casperbakker thanks for reporting!
We call the API to keep the phone from going to sleep (because we can not take photos while the app is in background) but there is a bug there we will have to investigate more. It is quite annoying because I could reproduce this only once on iOS 9.3.3 a few weeks ago. I will install iOS 10 beta and try to reproduce this.

[2016-08-22 14:48] ghost opened #8 "Add GPS status indicator"
I think it would be useful to include a GPS status/accuracy indicator to be visible while capturing. For example, have a location icon be red for No GPS lock, orange for a lock with suboptimal accuracy, and green for a very accurate GPS lock.

[2016-08-22 19:57] ghost commented on #8
Nevermind, I noticed this feature is already implemented. It wasn't immediately clear to me that the icon presently being used was indicating GPS lock accuracy, since the crosshairs icon looks more like what you tap to center the map onto your present location.

[2016-08-22 19:57] #8 closed, assigned to nobody

[2016-08-23 06:50] teemsaj opened #9 "No photos taken without cell network"
This app doesn't seem to record photos if the iPhone is not connected to a cell network. Doesn't feel like this app should require network connectivity. As long as GPS still functions, right?

[2016-08-23 06:51] teemsaj opened #10 "Automatic or easier way of sending crash logs"
App is a little crash happy. Is there an easy way to send crash logs to aid in faster bug fixing?

[2016-08-23 07:19] bogdans-telenav commented on #9
@teemsaj
The app should record photos as long as you **start** the recording **with GPS**, if the app does not have GPS access it will prompt you and ask for GPS access. It does not use any cell network.
Can you exactly describe your the use case?

[2016-08-23 07:32] bogdans-telenav commented on #10
@teemsaj
We are using Crashlytics for automatic crash reporting. This framework should report crashes as long as you enable internet access to your device and start the app. We are receiving a lot of crashes lately on device like: iPhone 4S, iPhone 5,  iPhone 5S, iPhone 5C and we will try to fix as many as possible for the next release.
I've seen that you have a iPhone 5C (from your other posts) s

[2016-08-23 07:36] #10 closed, assigned to nobody

[2016-08-23 07:49] bogdans-telenav commented on #6
@teemsaj  Thanks for reporting.
Until now our focus was on devices with larger screen. We will work as soon as possible on improving the experience on devices with 4 inch screens.

[2016-08-23 07:53] teemsaj commented on #6
@bogdans-telenav

This is on both the 5C and 6. I understand why there's extra space, but there must be a more graceful way of going about this.

[2016-08-23 07:58] teemsaj commented on #9
I want to dedicate the 5C to do most of the photo recording, rather than my primary iPhone 6. It has to cell network capbility, but it does have GPS. That being said, on one of my runs today, it was not taking any photos at all. I'll try it again later today.

[2016-08-23 07:59] teemsaj commented on #10
My crashes have occurred from an iPhone 6 today. I hope you have those crash logs.

[2016-08-23 15:40] taypo commented on #9
It may not be related to the cell network. I have iphone 5 with the cell nw and the app does not record anything either. I do hear the photo taking sound, but the count and distance does not update and when I finish the recording nothing gets uploaded.

[2016-08-23 18:36] teemsaj commented on #9
Tried it again today, same deal.

[2016-08-24 07:18] bogdans-telenav commented on #9
@teemsaj fixed it, in the next version will work. The problem was with the resolution of the video file resulting from your recording. iPhone 5C (have to check for other iPhone models, 5, 5S, 4S) can not make recordings with resolution larger then 2 MP. The sound is present because we make photos but because of the current settings we can not save them in videos, so you make photos but you don't a

[2016-08-24 07:20] bogdans-telenav commented on #9
We will upload tomorrow the new version to iTunes. This version will fix this issue.

[2016-08-26 07:54] bogdans-telenav commented on #9
Uploaded the app to iTunes. I will close this.

[2016-08-26 07:54] #9 closed, assigned to nobody

[2016-08-26 07:54] bogdans-telenav commented on #7
Uploaded the app to iTunes. I will close this.

[2016-08-26 07:54] #7 closed, assigned to nobody

[2016-08-27 09:58] andreimagic opened #11 "App exits when pressing the camera button"
iOS 9.3.5 - iPhone5C
App exits when pressing the camera button to start recording no matter if 5 or 8Mega pixels.

App not swithing to landscape mode in Map view.

[2016-08-27 20:04] minty opened #12 "suggestion: limit upload speed"
given the uploads can be quite large (I have 3gb after a day of driving), uploading at full speed can saturate the connection and make the internet slow for everyone on that connection.

so perhaps offer an option to limit the speed?

ideally it would "test" max speed & back off some (configurable) amount, but just a simple speed throttle would be useful.

[2016-08-28 19:32] dsmit opened #13 "Support GoPro camera"
Support for GoPro camera's (maybe more than one?) so someone could mount a forward and backward viewing camera.

[2016-08-28 23:18] teemsaj commented on #12
I second this.

[2016-08-31 08:59] bogdans-telenav commented on #9
@teemsaj Can you please try to see if it works?

[2016-08-31 16:39] taypo commented on #9
Recording works for me now. (iPhone5)

Cheers

31 Ağu 2016 tarihinde 11:59 saatinde, Bogdan Sala notifications@github.com şunları yazdı:

[2016-08-31 16:58] bogdans-telenav commented on #9
@taypo thanks!

[2016-09-02 04:06] teemsaj opened #14 "Crash during upload for iPhone 5C"
This is on a cell networkless (WiFi only) iPhone 5C running the latest version of iOS and OpenStreetView

I managed to grab this using iOS Console:

Sep  1 20:22:02 Azul SpringBoard[48] <Warning>: Application 'UIKitApplication:com.telenav.OpenStreetView[0xd8e8]' exited abnormally via signal.
Sep  1 20:22:02 Azul UserEventAgent[23] <Warning>: 2668369712834: id=com.telenav.OpenStreetView pid=455, st

[2016-09-02 04:07] teemsaj commented on #9
@bogdans-telenav Can confirm, working on iPhone 5C.

[2016-09-02 04:10] teemsaj opened #15 "iPhone 5C, only 2mp capture?"
Potential bug to report as well;

Used to be an option to shoot either 5 or 8mp photos. Now only 2mp?

The bug: OSV was not recording new images when first started, Pulled over vehicle, went into settings, and had to reselect for 2mp. Shouldn't the app just switch over if that's the only opetion, or maybe at least prompt user?

[2016-09-02 04:12] teemsaj opened #16 "iPhone 5C Layout Issue"
Please see attached image:
![img_0532](https://cloud.githubusercontent.com/assets/21170834/18192388/b1fa75ca-7088-11e6-8473-7e8252b645dc.PNG)

Layout looks fine on iPhone 6.

[2016-09-02 04:19] teemsaj opened #17 "Blurry results?"
Is anyone else getting blurry results for photos?

[2016-09-02 04:55] bogdans-telenav commented on #15
@teemsaj Because we actually encode each photo in a video, we ware constraint to drop the resolution to 2mp  on iPhone lower then iPhone 6, so the potential bug is the expected behaviour.

The reported bug is **a issue on update** from any previous version to 1.4.1.
**Reason for the bug**: Did not override previous resolution settings upon update to version 1.4.1.
Great idea on how to make it work

[2016-09-02 05:00] bogdans-telenav commented on #17
The blurring effect could appear if you try to record photos in low light conditions.
Is this your case?

[2016-09-02 05:12] bogdans-telenav commented on #11
@andreimagic Please try again now. The release that fixed this problem was sent to iTunes on 26.08.2016 but not approved until 30.0.8.2016.
**Note:** Because of a bug #15  For the first time, before you try to record your tracks, please go to Settings -> Resolution and select the only option there 2MP.  Now the app should no longer crash when you record.

[2016-09-02 05:23] bogdans-telenav commented on #13
@dsmit We will try to add support for GoPro cameras in the next release 1.4.2. The build will most probably be sent to iTunes the latest on 09.09.2016 but it will be available for users only after a couple of days.
This is our plan but if things change i will keep you posted.

[2016-09-02 05:38] bogdans-telenav commented on #9
@teemsaj Great!
Thanks guys! We really appreciate that you are active in helping us improve this project!

[2016-09-02 08:25] teemsaj commented on #17
Some of them were low-light, some were not. Hyperlapse has a warning when there isn't enough light to make time lapses. Would you consider implementing this option, maybe even referencing sunset and sunrise times?

Curious, how possible is it to automatically adjust exposure settings? Is this an iOS camera limitation? Would be useful for moments when going through tunnels or tree shade.

[2016-09-02 10:52] #15 closed, assigned to nobody

[2016-09-03 10:22] dsmit opened #18 "Upload is slow?"
When uploading to Mapillary I easily reach 4MB/s. However Openstreetview is between a few 100kb/sec to max 2MB/s with many upload stalls.

The uploading of my daily drives takes hours and need to be planned :(

[2016-09-03 10:29] dsmit commented on #13
No worries! We'll see!

[2016-09-06 14:48] alexandrui-telenav commented on #18
Hi @dsmit, right now we're working on removing the stalls which should improve things.
We do have a plan to improve overall upload speeds, but to be honest we have some cost restrictions. This can easily be solved by using AWS but this will mean lots and lots of money. We have in mind a hybrid solution but I can't promise anything very soon.
In the meantime, I'll let you know when the stalls shoul

[2016-09-07 15:03] teemsaj opened #19 "Upload crash and wonky behavior"
I'm attaching a crash log (I grabbed it from iOS Console)

[osvcrash.txt](https://github.com/openstreetview/ios/files/459481/osvcrash.txt)

Wonky behavior: Upon relaunching OSV, it asked if I wanted to resume uploading. I said Yes, but nothing happened. What is supposed to happen here?

[2016-09-09 15:47] #11 closed, assigned to nobody

[2016-09-11 22:37] hoylen commented on #18
This may be related, but I'm unable to upload due to "restarts" rather than "stalls".

By "restart" I mean it seems to upload for a few minutes (reaching about 6% of 263MB) and then goes back to 0% and starts again. I let it run for 30 minutes and it just still keeps restarting from the beginning, so it never finishes uploading.

P.S. It would be good if there is a way to upload individual tracks

[2016-09-11 22:46] hoylen opened #20 "Stop recording button is not clear"
After starting a recording, the "red circle" button becomes a "red rounded-rectangle" button, and the difference is difficult to tell with a quick glance while driving. Some other color and shape would be better.

Also, it is not obvious what the functional difference between the red button and "Done" is. I suspect the red button should really be a (yellow?) pause button (two vertical rectangles)?

[2016-09-12 09:30] bogdans-telenav commented on #13
@dsmit we did not add the support for GoPro in version 1.4.2

[2016-09-14 05:20] teemsaj commented on #20
I think the pause icon would be a better idea. That symbol is pretty universal. Done can be replaced with a "check mark" just like Mapillary.

[2016-09-14 05:25] teemsaj opened #21 "Oddball question"
If this isn't the right avenue for this, please point me in the right direction to ask this question.

Been trying Mapillary for a few days now, and on top of being stable, feature wise it's pretty complete.

So my question is, since Mapillary is also submitting images to OpenStreetMaps, why is this app being developed?

This isn't so much a "why are you wasting your time question", rather its a "

[2016-09-16 18:33] dsmit opened #22 "Doesn't clean up storage after upload?"
Doesn't seem to clean up its storage after upload, which results in filling the phone up to the brim and
now unable to record.

[2016-09-17 05:07] bogdans-telenav commented on #22
@dsmit for debugging purposes we added some logs, the log file is OSVLogs, you can always delete the log folder with iTunes. We will remove this logging but for now is helping us debug some of the remaining bugs.
For the next version i will explicitly delete the folder upon update. Thanks for pointing this out.
I will close this when i will commit the code on git.

[2016-09-26 08:31] trailblazr opened #23 "Upload progress indicator does not work as expected... and acts weird…"
I had around **100MB** of photos for a short track to upload. The upload progress indicator seems to not work correctly. It always fell back to around 1-2% when reaching 50-52% and seemed to start over endlessly. This is really weird behavior and I only let it continue hoping the developer had tested that app before a release. Otherwise my upload will now DDoS the OpenStreetView image processing s

[2016-09-26 08:35] bogdans-telenav commented on #23
A update was made to the server and a log out and log in is required.
Sorry for the inconvenience.

[2016-09-26 08:40] bogdans-telenav commented on #23
@trailblazr Please reply if it fixed the problem.

[2016-09-26 08:42] trailblazr commented on #18
Looks like I have the exact same issue with Version 1.4.3 on the iOS client. I stopped the endless-loop of uploading after a while because it obviously did more of a DDoS for the servers. **This might be a severe issue you will get on the backend (clients DDoS'ing you guys).**

[2016-09-26 08:52] trailblazr commented on #23
Yep, that did the trick. That "server-update" must have been 5 mins ago, haha. Yeah, but the upload **now works flawlessly**. Thanks!! See success screenshot at http://www.noxymo.com/filespublic/osv_progress.PNG

[2016-09-26 08:55] bogdans-telenav commented on #18
@hoylen as @trailblazr sad the issue has generated on the server side because of the security updated on the server side this happened around version 1.4.1
To fix this you can log out and log in again with your OSM account.

[2016-09-26 08:57] bogdans-telenav commented on #23
thanks!

[2016-09-26 08:57] #23 closed, assigned to nobody

[2016-09-26 10:47] hoylen commented on #18
Thanks. The previous update seemed to have fixed the "restarts" I was experiencing (the one before 1.4.3(1), the one that came out on the App Store around 15 September 2016). I've managed to upload all my tracks, though one of them seems to be still "processing" after about 5 days.

Although I have now got version 1.4.3(2) (which appeared in the App Store around 24 September 2016), I will try logg

[2016-10-07 01:59] hoylen opened #24 "Corrupted images being captured"
The image/video gets corrupted during a capture, with the entire picture filled with just video noise (i.e. no recognisable picture in it).

This has happened to me twice with OSV version 1.4.3(1) running on an iPhone 5s. On both occasions, it has happened after capturing for a long time (over 30 minutes).

See the last frames of this tracks: http://www.openstreetview.org/details/23871/1374

This

[2016-10-07 12:44] bogdans-telenav commented on #24
@hoylen Thanks for reporting this. This is the first time we find out about it, we will investigate more, and replay when we have more info on this.

[2016-10-17 16:53] ChaerilM commented on #22
what about some kind of 'debug mode' option in settings to enable it

[2016-10-18 08:56] ChaerilM opened #25 "'capture better image on landscape' tips should be seen on portrait instead"

[2016-12-09 02:23] ghost opened #26 "Wifi OBD no longer working"
I own a Veepeak VP-01 Wi-fi OBD reader, purchased exclusively for use with OpenStreetCam. I used the app and OBD reader together for several months without issue, only to have the app stop detecting the reader for no apparent reason. I am still able to use other OBD diagnostics apps on my iPhone, but OSC no longer indicated that it has a connection with my OBD reader. This leads me to believe that

[2017-03-24 22:13] theid opened #27 "Uploads not being processed"
Several of my uploads have been disappearing. Today 3 of 5 recordings were lost in one go. The app uploads, the data is deleted from the phone (iPhone 7) and no error is reported. Application does not crash and there is no error log. It appears the server eats them. It is quite frustrating because as you know it takes time, effort, and money to drive around doing this!

I will be happy to assist,

[2017-04-05 22:04] theid commented on #27
As an example, the highlighted below was not processed on upload...
<br>
![img_1907](https://cloud.githubusercontent.com/assets/4463936/24728644/b3dca394-1a52-11e7-99fa-0ebe2db411fb.jpg)

The other three can be seen post processing on the website:

![uploaded_series](https://cloud.githubusercontent.com/assets/4463936/24728760/30df6926-1a53-11e7-8ae6-d802e127ef8a.png)

[2017-04-05 22:47] theid commented on #27
[05-04-2017 17_46.log.txt](https://github.com/openstreetcam/ios/files/900982/05-04-2017.17_46.log.txt)

[2017-04-08 14:59] jbowkett84 opened #28 "Login fails?"
I don't seem to be able to Login? I'm not sure if I am doing something wrong.

[2017-05-05 13:57] bogdans-telenav commented on #28
@jbowkett84 can you please add some context: app version, device, login provider (google, facebook, OSM)

[2017-05-05 14:30] bogdans-telenav commented on #27
@theid  First let me appreciate your report, we almost never (you are the first) get a report as good as yours. About your issue: as i could tell form your log file the iOS application did its job, but the server side did not process every recording that you uploaded.
Current status on server: we are actually reimplementing the processing part (because there are several bugs that ware found here).

[2017-05-05 14:40] bogdans-telenav commented on #24
@hoylen did you ever reproduce this on the latest version? My personal opinion is that this bug was caused by our server side. The server generates photos from the video file that we write on your device, this photos got corrupted on generation. I will talk with our server guy to reprocess your tracks. In the mean time we made some improvements on the client side to so please recheck. I will close

[2017-05-05 15:20] bogdans-telenav commented on #21
There is plenty of room to improve each system but if you don't have any competitor you will not strive to improve as fast as you could.
In other words making several small changes to something is what companies always do. That's why we have google search today and we almost never hear about yahoo (and the list could go on).
I hoped i wouldn't have to answer your question but no one did so hopeful

[2017-05-05 15:20] #21 closed, assigned to nobody

[2017-05-05 15:32] bogdans-telenav commented on #17
@teemsaj we are automatically adjusting exposure and focus settings with the iOS API.
Now we are working to use a fix focus and automatic exposure mode for the recording.
From what we tested with it seems like it would improve the experience in low-light, rainy days, sunny days but for now we want to make some more tests in order to have the best results.

[2017-05-05 15:34] bogdans-telenav commented on #22
Sorry I made the changes for this a long time ago but forgot to close this.

[2017-05-05 15:34] #22 closed, assigned to nobody

[2017-05-05 15:40] bogdans-telenav commented on #25
I never understood what was this about until a few weeks ago when i made a spell check on the app, and saw the problem in the code. Have to say I tested this screen in several scenarios but could not understand what was the problem. LOL.
Thanks for reporting this.

[2017-05-05 15:40] #25 closed, assigned to nobody

[2017-05-05 15:52] bogdans-telenav commented on #20
@hoylen Personally i don't really like the "Done" button but this is what the designer provided, I opposed several times but this is it. I don't have a better option for the "dismiss this screen, I am done recording" action.
@teemsaj About the pause idea it would be as bad as the current button (witch is very much like the one in the native camera app) because you don't actually make a pause in a

[2017-05-05 15:52] #20 closed, assigned to nobody

[2017-05-05 16:10] bogdans-telenav commented on #16
implemented, this will be visible on version 1.5.5

[2017-05-05 16:10] #16 closed, assigned to nobody

[2017-05-05 16:15] bogdans-telenav commented on #14
We have all the Crashlytics logs. In the latest build we fixed a problem on upload. Can you try with version 1.5.4, this will be available in iTunes next week. I will close now this bug. If you still experinence any problem after updating to version 1.5.4 please open a new issue.

[2017-05-05 16:15] #14 closed, assigned to nobody

[2017-05-05 16:21] bogdans-telenav commented on #13
@dsmit we actually had to by a developer account for the GoPro integration and this was a painful process with the legal team and other issues. As far as i remember it took like 1 month since Sep 2 2016 and since then we are working on several other features. This will enter in our plan since we have this account payed for 1 year. I will update you when i restart the active work on this.

[2017-05-05 16:25] bogdans-telenav commented on #5
@casperbakker i believe this issue is no longer reproducible on the recording screen. I will now close this since i did not experienced it any more since then. If you are still reproducing this please open another issue.

[2017-05-05 16:25] #5 closed, assigned to nobody

[2017-05-05 16:28] bogdans-telenav commented on #2
@systemed an update on this, we are now able to work with 360 images on the backend side, the website frontend also has the capability to display them

[2017-05-05 16:31] bogdans-telenav commented on #6
i am closing this with wont fix, this is the current design. In the next screen redesign we will take this into account.

[2017-05-05 16:31] #6 closed, assigned to nobody

[2017-05-05 16:34] bogdans-telenav commented on #18
I am closing this since there is no other feedback here. Please open another issue if you experience any other problem. Thanks for your support.

[2017-05-05 16:34] #18 closed, assigned to nobody

[2017-05-05 22:06] hoylen commented on #24
No, I couldn't reproduce the problem.

But if it is cause by a server-side bug, the evidence should be obvious: the photos contains the noise, but the source video will be clean.

I'm happy for you to close this ticket.

[2017-05-06 05:14] jbowkett84 commented on #28
Thanks for the message Bogdan, it's working now that I have tried it again this morning.

I'm on iOS, iPhone, login by OSM, version 1.5.3(1).

James

James Bowkett MSc FGS
+447870733284
jebowkett@gmail.com
Sent from my iPhone

[2017-05-06 06:09] bogdans-telenav commented on #28
Thanks for your quick answer. I will close this now.

[2017-05-06 06:09] #28 closed, assigned to nobody

[2017-05-06 06:23] bogdans-telenav commented on #19
Basic explanation: This log is written when the app recovers from a inconsistency in file management.
Technical explanation: The log file that you provided has a line that is logged only when, after a upload, the objects saved in the database are not all deleted but all the files saved on disk are, or vice versa.
Since you reported i worked on this so i will consider this fixed.
About the "wonky b

[2017-05-06 06:23] #19 closed, assigned to nobody

[2017-05-08 09:43] bogdans-telenav commented on #24
We checked it was a client bug (the video was corrupted)

[2017-05-08 09:43] #24 closed, assigned to bogdans-telenav

[2017-05-09 09:20] bogdans-telenav commented on #27
@theid I can confirm that your recordings are on the server. There was a bug on the processing part, your tracks stuck in a processing state. After we make them visible i will close this.

[2017-06-06 13:32] minty opened #29 "Uploads failing & stuck in a loop"
After a recent road trip, I've got 23GB of images to upload, across ~10 tracks.  iOS app, fully up to date.

I start to upload, it gets somewhere between 100-200MB, then the app crashes.  I restart, and it repeats this in an endless loop.  Every time, it says 23.01GB of data to upload, even after 10+ iterations of "upload 100-200MB, app crashes".

I've tried pausing/resuming.  I've tried stop/star

[2017-06-06 13:34] minty commented on #29
ps. The app crashes frequently and regularly for me (both uploading and less often when recording), but normally if I restart it enough times, the total data to upload reduces on each restart attempt & it eventually completes uploading.

iphone 6, with 128GB capacity.

[2017-06-07 11:40] bogdans-telenav commented on #29
Sorry for this @minty app version 1.5.5 (2) has a very ugly crash i will update the app ASAP.

[2017-06-07 11:52] ghost commented on #29
awesome! thanks for such a fast reply :)

I'll await the app update and retry & confirm here.

any idea if that is also related to why http://openstreetcam.org/details/426956/0 is stuck in a "processing" state, or is that something else?

[2017-06-07 12:24] bogdans-telenav commented on #29
@bigredconvert
About the track, I just checked with the guy that is working on the "processing" part. Your track got stuck in processing. This week we made a big change on the "processing" so from now on your tracks should no longer get stuck. Currently he is working on something else but as soon as he will have some free time he will restart the processing for your track (basically the last 50 im

[2017-06-07 12:33] minty commented on #29
cool - that is some awesomely amazing great support - thanks again to all involved 👍

[2017-06-13 08:23] bogdans-telenav commented on #29
We had the review from apple (so i could just on click release this new version) but currently my colleagues are in vacation so the testing was not made. This bug also was caused by this situation and i do not want to risk another big issue. If you would like i can send you a beta build that fixes this but i would need a email or some sort of contact or if you can not provide any contact info i wi

[2017-06-13 13:23] minty commented on #29
Hi - I've (hopefully) sent you an email with contact details.  Happy to help (or wait).

[2017-06-15 08:22] bogdans-telenav commented on #29
The new version is online 1.5.6.

[2017-06-15 11:23] bigredconvert commented on #29
Thanks!

I upgraded, launched, went to Uploads.  Speed sat at 0KB/s for ~30 seconds, then the app crashed.

I launched again & went to upload, speed was ~300KB/sec, and after a few seconds the total amount of data to upload was shown as 23.01GB

I got beyond 50MB, then I got distracted, came back & the app had crashed.

I launched again & went to upload, speed was initially ~90KB/sec, increased to

[2017-06-15 12:00] minty commented on #29
(sorry, deleted previous version of this comment as I used the wrong account)

Thanks!

I upgraded, launched, went to Uploads. Speed sat at 0KB/s for ~30 seconds, then the app crashed.

I launched again & went to upload, speed was ~300KB/sec, and after a few seconds the total amount of data to upload was shown as 23.01GB

I got beyond 50MB, then I got distracted, came back & the app had crashed.

[2017-06-15 12:09] minty commented on #29
Another try:

Got to ~54MB uploaded, then the total uploaded (beneath the big %) reset to 0 and started counting up again.  Still on "uploading track 1/8" before during and after.

Got to 55MB uploaded, then the total uploaded reset to 0bytes and started counting up again.  Still on track 1/8.  This pattern repeated a 3rd time, and I got a video of it.

https://youtu.be/rG6oYj_HvY0

This pattern r

[2017-06-15 13:09] bogdans-telenav commented on #29
@minty Sorry for your inconvenience. Can you please use the Report Issue feature from Settings this uploads the local logs to our servers and I can see exactly what happens. Please write in the comment something  so i can find your Issue easy like: "iOS - Minty - Upload fail"

[2017-06-15 14:43] minty commented on #29
@bogdans-telenav done, included your suggested string 👍

[2017-06-15 15:03] bogdans-telenav commented on #29
@minty I've read the logs, looks like the server ID of a sequence is wrong and the server refuses your upload this makes the app retry and retry until it crashes. **IF there is no bug in the sistem** this can only happen if you started to upload a recording with a user and tried to continue the upload on a different user **Or there is a bug on our server.** We can not check right now the server pa

[2017-06-15 15:08] bogdans-telenav commented on #29
@minty we highly appreciate all your patience and help.

[2017-06-15 16:23] minty commented on #29
i'm 99.9% certain i've only ever used a single user/login for openstreetmap / openstreetcam

i'm 100% positive it's been the same single user on this device since before the current 23GB for 8 tracks pending upload were recorded.

(unless someone was using my device without my knowledge, but i'm pretty sure that hasn't happened).

sorry :(

happy to help - thanks so much for all the support - i wo

[2017-06-16 15:37] bogdans-telenav commented on #29
@minty I sent you a email for a special fix for you. Please confirm that you received it.

[2017-06-16 17:19] minty commented on #29
Got it :)

Thanks for taking so much trouble over this - I'll have a go at uploading over the weekend

You're all awesome - hope you have a lovely weekend!

[2017-11-26 12:52] utack commented on #2
Great to hear.
Any updates on this, is it much different from supporting LG 360 cam?

[2017-12-04 10:01] #29 closed, assigned to bogdans-telenav

[2017-12-04 10:07] bogdans-telenav commented on #27
This was fixed in the meantime.

[2017-12-04 10:07] #27 closed, assigned to nobody

[2017-12-04 10:10] bogdans-telenav commented on #26
Please check again with the lates version (2.0). We made some fixes for your problem awhile ago.

[2017-12-04 10:10] #26 closed, assigned to nobody

[2018-04-27 11:29] strangerism commented on #2
Hi, sorry to jump in, but I am searching for info on cameras that have osc v2.1 implemented. I recently bought a gear 360 (2017) unfortunately it is still on OSC api v1. The reason I need the api v2.1 it is because of the command camera.switchWifi, which I need in order to have the camera moved into a network which my server application can reach and query the camera api remotely.

Most of these c

[2018-05-04 11:05] bogdans-telenav commented on #2
hi @strangerism i think there is a misunderstanding here. OSC can mean two different things. [OpenStreetCam](www.openstreetcam.org) the project and Open Spherical Camera API witch allows you to take photos using a 360°. As far as i can tell you are asking a Open Spherical Camera API question and this is not our expertise.

[2018-05-05 09:18] strangerism commented on #2
Hey, I don't think I was confused as the title of this issue is indeed Open Spherical Camera API. Anyway I understand that this is not your expertise but I thought, since you are developing a software with 360 degree imagery, that some of you had some experience with 360 cameras.
Whatever, thanks a lot anyway. cheers

[2018-05-28 18:28] blacktygeo opened #31 "Unable to Upload Imagery Via Wifi"
**Phone:**
- iPhone 8 Plus
- Model MQ8G2LL/A
- iOS 11.3.1

When selecting the "Upload All" button under the Upload menu, I receive a warning stating "Please connect to a Wi-Fi or allow uploading on cellular data from settings." (see photo below).  However, I am connected a Wi-Fi network at my residence and the error continues to pop up.  I tried a number of settings below to see if the issue would

[2018-05-30 04:04] blacktygeo commented on #31
Just an additional note, but I'm still getting the error on my Wi-Fi network at my residence but I was allowed to start uploading on my Wi-Fi at work.  I'm trying to figure out what is different to prevent the app from wanting to upload anything on my network at home since (with Cellular data turned off) I can still use Safari, my mail app, and others like normal while connected to Wi-Fi at home.

[2018-07-17 19:52] pcmill opened #32 "Blinking icons on the map"
When I am looking around the map I see the following:

[GIF](https://i.imgur.com/uuIEC7c.gif)

The blinking icons continue throughout the usage of the map. The phone I am using is an iPhone 7 Plus running iOS 11.4. While it does not affect for example recording streets, it is kind of annoying.

[2018-07-24 08:30] habi commented on #32
I see the same: https://www.youtube.com/watch?v=z_0tZH5AhTY

iOS 12.0 (16A5327f) (public beta preview) on an iPhone SE (Model MLM62FD/A)

[2018-07-24 08:32] habi commented on #13
Any update on this?
Mapillary has been doing this for a while (albeit buggy), it would be a great addition to OSC in my opinion.

[2018-07-24 09:32] alexandrui-telenav commented on #13
Unfortunately GoPro [discontinued](https://www.programmableweb.com/news/%E2%80%8Bgopro-shutters-its-developer-program/brief/2018/01/22) their developer program.

There is an unofficial [API](https://github.com/KonradIT/goprowifihack) on Github but as the repo states it, it's a hack. One can use the GoPro to record imagery and upload through the scripts but no support in the apps in sight.

[2018-07-24 09:33] #13 closed, assigned to nobody

[2018-07-24 10:17] habi commented on #13
Thanks for clarifying this.

[2018-08-08 15:17] ciprianh-telenav commented on #32
Pieter, David, this will be fixed in the next version which will be released by next week. Thank you!

[2018-09-07 14:51] #32 closed, assigned to nobody

[2018-09-07 14:53] ciprianh-telenav commented on #31
@blacktygeo, do you still face this issue on the latest version?

[2018-09-15 08:39] iCarrot0605 opened #33 "Unstable in using Wi-Fi"
### My environment.
- iPhone7(MNCV2J/A) 256GB
- iOS 11.4.1
- OSC Version 2.4(5)

### Problem
When Wi-Fi using, Application is unstable. Logging in is unable and quit suddenly. Without Wi-Fi using, I succeed in logging in.
Upploading data is too slow. But without Wi-Fi, I can upload data smoothly.
When W-Fi using, everything is slow and unstable.

[2019-03-24 23:24] joeybab3 opened #34 "Upload freezes at 38.4mb and keeps restarting again"
I have an issue on iPhone 7+ in which one of my drives freezes at 38.4mb and then stops for a while before starting over again. I can’t upload the tracks after that because there is no way to upload just one track at a time.

iPhone 7+ iOS 12.1.4
Openstreetcam 2.6.1 (2)

[2019-05-18 20:37] amilopowers commented on #13
@alexandrui-telenav could you give a link to those scripts?

[2019-05-19 10:57] alexandrui-telenav commented on #13
Sure, https://github.com/openstreetcam/upload-scripts

[2019-06-04 00:36] joeybab3 opened #35 "App fails to delete data once it's uploaded"
When uploading data to OSC, occasionally something will happen in which OpenStreetCam doesn't delete the imagery after uploading and it doesn't show up in uploads.

![IMG_9785](https://user-images.githubusercontent.com/2829457/58843156-22aaaa00-8626-11e9-81cd-784a9a29ce47.PNG)

![IMG_9786](https://user-images.githubusercontent.com/2829457/58843158-24746d80-8626-11e9-8af2-3d3785881ce5.PNG)

[2019-06-04 00:37] joeybab3 commented on #34
After a certain amount of retries by just leaving my phone open it does eventually upload so i'll close this as I can't reliably say what causes it.

[2019-06-04 00:37] #34 closed, assigned to nobody

[2019-06-04 01:24] joeybab3 commented on #33
is this still happening?

[2019-06-09 11:01] OttoROSM opened #36 "Upload Resets"
Since Saturday June 8th at around noon CET the upload of tracks keeps resetting after the metadata upload. At first I thought one of the tracks were corrupted, so I deleted them, but a new track has the same issue, so I reinstalled the app. This too kept the issue alive.

I tried various wifi and cellular connections which did not make a change. Currently a 4 GB track is sitting on my device, whic

[2019-06-09 19:13] OttoROSM commented on #36
And tonight it worked again.
Incident solved, but no idea what the cause was.

[2019-06-11 04:43] joeybab3 commented on #36
I found this to happen occasionally as well, leaving it open for an hour or two lead to it uploading eventually. I don’t know what causes it and can’t figure out why it fixes but even changing connections and going to cellular doesn’t work.

[2019-06-11 12:30] mirunac-telenav commented on #36
@OttoROSM - an unfortunate storage downtime occurred and it took a while to get it resolved. Everything is up and running now.

[2019-06-11 12:30] #36 closed, assigned to mirunac-telenav

[2019-06-12 14:14] #31 closed, assigned to nobody

[2019-06-12 14:20] bogdans-telenav commented on #35
@joeybab3 thanx for reporting this. Can you make my live easier and use iTunes to download the app content and see what is the actual "Documents and Data" (Photos folder or OSCLogs folder? or something else?!). If you don't know how to do that we can guide you.

[2019-06-12 17:50] joeybab3 commented on #35
Would you be willing to document the process here? If so I will make sure to report back next time it happens, and since I’m going to be capturing a lot of data today it will be very possible there will be an occurrence

[2019-06-27 19:00] joeybab3 opened #37 "App shows all drives as having OBD"
Only really a cosmetic problem but the app shows all drives as having the green check below OBD when clicked on.

[2019-06-27 19:02] joeybab3 opened #38 "Point breakdown no longer able to be opened on app"
I can no longer view the point breakdown on the IOS app by clicking on drives, not sure if this was intentionally removed but the only way to access it now is by going on the website.

[2019-10-14 20:14] rwelty1889 opened #39 "app displaying interstate shields for Iowa (IA) state routes"
the app seems to be confusing interstate routes with iowa state routes and is displaying improper shields. for example, look at IA 210 where it crosses I 35 between Ames and Des Moines.

[2019-10-20 04:25] NathanBlais opened #40 "Does not save distance unit"
I always have to change the distance unit from metric to imperial whenever I open the app. Can you change it to save my preference please?

[2020-04-09 22:25] signout commented on #12
Connect the iPhone to a Mac with Xcode (the developer tools) installed. Click "Use for development" for that iPhone. Unplug and you can ignore Xcode now.

Then, in Settings on the iPhone, in the Developer section, you'll find the Network Link Conditioner, and can set speed limits as needed.

[2020-04-25 17:15] chip-grab commented on #40
@NathanBlais, this should be fixed since version 3.0. Please us know if you still face the issue. Thank you!

[2020-04-25 17:15] #40 closed, assigned to nobody

[2020-04-25 17:32] chip-grab commented on #38
@joeybab3, points breakdown is available on Track Preview screen by tapping on `Points ?` area
![OSC_TrackPreview_Details](https://user-images.githubusercontent.com/55801241/80286380-bea83d00-8733-11ea-9766-791cc3d0b2f6.jpeg)

[2020-04-25 17:32] #38 closed, assigned to nobody

[2020-04-25 22:10] joeybab3 commented on #38
@chip-grab thank you for the response, this issue is almost a year old and I believe that it indeed has been fixed in this time.

[2020-06-02 12:27] brawer opened #41 "Compensate for camera tilt"
Could the app compensate for camera tilt by rotating images? The app already knows the device tilt (and displays it on screen); perhaps it could compensate for that tilt by rotating the images at recording time, or maybe before uploading. This would be especially useful for pedestrians, since it’s difficult to hold a phone steady while walking.

[2020-07-06 18:42] Esmala opened #42 "All content lost."
When I use high resolution (12mpix) or disrupt upload (lock phone or use stop button), it appears the upload is complete or continuing, but all content is actually gone, and will not appear to the map page even after a delay. It is not in the phone memory either.

iOS version: 13.5.1

[2020-07-24 05:33] ghost opened #43 "App crashes when deleting tracks"
the app crashes when deleting tracks and it's really slow it needs a update

[2020-12-10 18:25] mvexel opened #44 "Map mode issues with panning / following"
Picking up OpenStreetC...Kartaview for the first time in a while. Nice work on the new web site.

Using the latest App Store iOS version on an iPhone 12. I'll file separate issues for the few small issues / feature bumps I see. This one is about map browsing in the app.

* When in Map mode, if I pan the map, it pans back to my current location, making it impossible to explore the map on mobile.
*

[2020-12-10 18:28] mvexel opened #45 "Upload speed inconsistent"
I tried uploading two tracks on the same 1Gb/1Gb internet connection, one yesterday, one today. Yesterday I had an average upload speed of 6.5MB / sec. Today I have an upload speed of about 700KB / sec.

[2020-12-20 18:51] mvexel opened #46 "processing..."
I remember this being an issue a while ago. I uploaded a bunch of tracks more than 12 hours ago and they still all show up as 'processing'. Is this expected?

[2020-12-20 18:52] mvexel commented on #39
Is this a Mapbox issue rather than a Kartaview one? At some point they switched from the Skobbler maps SDK to Mapbox.

[2021-01-05 16:12] mvexel opened #47 "Upload stuck"
My latest tracks won't finish uploading. The upload starts, uploads about 19MB, then the counter resets back to 0, and this repeats forever.

[2021-01-05 16:13] mvexel commented on #46
The tracks did finally process but it took more than 24 hours. Perhaps it's possible to give an indication of where you are in the queue so people don't have to wonder what's happening.

[2021-01-06 03:21] Lining-Grab commented on #47
Hi, mvexel, may I know when did you start uploading?

[2021-01-06 05:36] Lining-Grab commented on #46
Hi, mvexel, sorry for the processing latency. We limited the machine resource before, so the processing speed is affected. We have scaled out more resource, the photos can be processed in 24 hours now.

[2021-01-07 02:59] Lining-Grab commented on #45
Hi, Martijn, did you remember when you uploaded in the two days? I need check the network traffic inbound during that time, it could be affected if many users upload at the same time.

[2021-01-08 16:04] salabogdan commented on #46
I have added also @alex-grab to the thread so he will be aware of the suggestion to have some sort of indicator.

[2021-01-08 16:09] salabogdan commented on #44
hey @mvexel i am really happy to see you are back! We will address as soon as possible. I will add any new updates here.

[2021-01-09 00:19] mvexel commented on #47
Tracks recorded on Dec 29 so probably on that day or the day after? Every time I try again is gives the same issue.

[2021-01-09 00:20] mvexel commented on #45
Sorry I don't remember the exact times.

[2021-04-13 00:45] joeybab3 opened #48 "Upload keeps restarting"
I have an upload from an iPhone 7+ that keeps restarting when it hits 24.4mb and goes back to 0. it won't progress any further than this and new tracks that are recorded upload fine but an older track doesn't upload because it was recorded before the one that fails to upload.

[2021-05-11 02:46] joeybab3 opened #49 "App keeps crashing when opened"
When opening the app, I'm now met with "kartaview closed while uploading your tracks, continue uploading?" and then half a second later the app crashes. I can press yes or no at that time and it will still crash.

[2021-05-11 05:50] salabogdan commented on #49
We are preparing an app update to address several major issues. One of the pain-points that will be address is the improvement of our crash reporting system, unfortunately for our latest release we can only blind fix your issue.

[2021-06-17 11:39] nevw opened #50 "Unable to open KartaView on iphone 6 v12.5.4"
The KartaView app remains in the background on opening and cannot bring to foreground to use.  Not sure where KartaView was affected but there was an update yesterday.
Interesting that Mapillary behaves the same since a week or so ago and the last two updates have not fixed the app on my phone.

[2021-06-17 11:50] miruna-craciun commented on #50
@nevw please share your KartaView username

[2021-06-17 11:57] nevw commented on #50
Hi
My username is nevw and the email is ***@***.***
I haven’t used the  app to take a sequence of images yet but the app was able to start up ok when I first dowloaded the app. Just haven’t got around to using it yet.
Because the Mapillary app crashes, I thought I would see if KartaView was ok.
Nev

[2021-07-06 23:06] nevw commented on #50
The Mapillary app is now up and running ok on my phone.
Hopefully a fix for this issue is found for KartaView soon too.

[2021-07-14 14:42] kiang commented on #13
Just another vote to have GoPro support. When I trying to capture photos on riding bicycle, it's hard to get smooth result through camera of phone.

[2021-08-16 16:21] Zlitus opened #51 "Be able to extract images locally"
Hello,

I used to works with Mapillary, but unfortunately I switched from Android to an iPhone and now the mapillary application crash all the time. So I searched alternatives, and I found Kartaview and it's great.

Now, on Android with Mapillary, I was able to see all my pictures locally on my phone from my “Files” application, copy them to my compuer, remove some of them with are bad, etc. I did

[2022-03-11 17:43] lklepner commented on #47
I've also become stuck on the upload stage -

https://user-images.githubusercontent.com/110027/157921300-0fdb9345-6c03-4e54-9e5c-6da191e0b9bc.MP4

[2022-05-04 13:13] derkrasseleo opened #52 "Carly Universal Adapter"
Is this OBD adapter supported? Because I recently bought the universal adapter with the hope of using it for KartaView. I love the idea of supporting OSM data by with my car's data. Now when I'm in the app, it constantly says "Connecting to OBD" but there's never a green checkmark or something like that. But when I look at the track at the end, it says it collected OBD data?!

![WhatsApp Image 202

[2022-05-04 18:32] derkrasseleo commented on #52
What do the different "Covered" categories mean? And why is there no 1?
![WhatsApp Image 2022-05-04 at 17 43 58](https://user-images.githubusercontent.com/16163571/166802295-51fea8bc-8d0f-4ce2-8963-230b4e899659.jpeg)

[2022-10-27 16:43] salabogdan commented on #49
this should be fixed now

[2022-10-27 16:43] #49 closed, assigned to salabogdan

[2022-10-27 16:43] salabogdan commented on #47
this was fixed

[2022-10-27 16:43] #47 closed, assigned to salabogdan

[2022-10-27 16:48] salabogdan commented on #51
@Zlitus it is possible to get videos and if you want to see images you need to split videos into JPEGs using FFMP application.  Also in order to get lat long in JPEG metadata you would need to change a bit the "upload_scripts" repo or report a improvement which I would gladly help to implement.

[2022-10-27 16:50] #51 closed, assigned to nobody

[2022-10-27 16:51] salabogdan commented on #42
Hi, sorry for the late responses here, we have recently fixed a similar issue in release 4.9.1. Thanks to one of our community reports.

[2022-10-27 16:51] #42 closed, assigned to nobody

[2022-10-27 16:53] salabogdan commented on #48
Hi, sorry for the late response, we have recently fixed a similar issue in version 4.9.1 thanks to one of our community reports.

[2022-10-27 16:53] #48 closed, assigned to nobody

[2022-10-27 16:55] salabogdan commented on #43
This is no longer reproducing at least since version 4.9.1.

[2022-10-27 16:55] #43 closed, assigned to nobody

[2022-10-27 16:56] salabogdan commented on #37
Thanks for your report. This was fixed at least since version 4.9.0.

[2022-10-27 16:56] #37 closed, assigned to nobody

[2022-10-31 07:17] salabogdan commented on #52
Hi, while you record you need to press on the OBD button and go through the connection flow. In case you already done that can you please share a sequence that you have recorded to check if all data was collected? and we can continue discussing from there.

[2022-10-31 07:25] salabogdan commented on #41
Interesting idea but this would require some post processing on the backend side. Still I don't think it would look very well on the web UI.

[2022-10-31 07:25] #41 closed, assigned to nobody

[2022-10-31 07:27] salabogdan commented on #44
Sorry, I forgot to reply here but this was fixed more than a year ago.

[2022-10-31 07:27] #44 closed, assigned to salabogdan

[2022-10-31 07:29] derkrasseleo commented on #52
That's what I did. Sometimes I did it multiple times because it seemed to have lost the connection. Here's an example track: https://kartaview.org/details/5166521/8/track-info

As I said, it would be very helpful to know what the "Covered" categories mean.

[2022-10-31 08:04] salabogdan commented on #35
@joeybab3  For me this is no longer reproducing in case you still have this problem you could help us by sending a screenshot with the app folders size. You can do this by connecting to you phone from your computer and checking the files tab as in the screenshot.
<img width="1257" alt="Screenshot 2022-10-31 at 09 59 06" src="https://user-images.githubusercontent.com/2758798/198960432-5bd46f20-b42a

[2022-11-15 17:00] salabogdan commented on #52
Covered = there was at least 1 image on that road
Images on that road:
0 -> 10 points/ image
1, 2 -> 5 points/ image
3, 4 -> 3 points/ image
5, 6, 7, 8, 9 -> 2 points/ image
10 or more -> 1 point/ image
if you have OBD connected then  all points are multiplied by 2 that means :
0 -> 20 points / image
1, 2 -> 10 points/ image
3, 4 -> 6 points/ image
5, 6, 7, 8, 9 -> 4 points/ image
10 or more -> 2

[2022-11-15 17:03] salabogdan commented on #52
It looks like this was an old bug that should have been fixed since then.

[2022-11-15 18:18] derkrasseleo commented on #52
Thanks for the clarification. Does it say that anywhere? If not, it would be nice to include that information in the app somehow.
I recorded a track a few days ago (https://kartaview.org/details/6327145/0/track-info) and I still noticed that I lost connection to OBD a few times, is there an update I am missing? I am running 4.9.1. (2)

Also, is there a way to look at the OBD info of a track or is